{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Dichipot</h1>
            <p class="lead">Une solution simple pour partager les dépenses.</p>
            <hr class="my-4">
            <p>Cette application web fonctionne aussi bien sur un mobile que sur une tablette ou un ordinateur
                de bureau.</p>
            <a class="btn btn-primary btn-lg" href="https://phraz.github.io/dichipot/" role="button">Plus
                d'information</a>
        </div>
    </div>
    <div class="container text-center">
        <h3>Comment ça marche ?</h3><br>
        <div class="row">
            <div class="col-sm-4">
                <p>1. Créez un évènement.</p>
                <img src="{{ asset('images/step1.png') }}" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4">
                <p>2. Invitez les participants.</p>
                <img src="{{ asset('images/step2.png') }}" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4">
                <p>
                    3. Les participants peuvent enregistrer des dépenses et effectuer le partage des paiements sur
                    le groupe.
                </p>
                <img src="{{ asset('images/step3.jpg') }}" class="img-responsive" style="width:100%" alt="Image">

            </div>
        </div>
        <div class="well">
            <p>
                La répartition du paiement se fait par distribution de parts, si on met 1 partout la dépense
                est payée à part égale par tout le monde. On peut utiliser la précision que l’on veut, par
                exemple on peut
                indiquer les parts en euros. Il est possible d’indiquer une part de 0 pour ceux qui ne participent
                pas à une dépense.
                le calcul de la répartition est mis à jour après chaque opération, en rouge ceux qui doivent de
                l’argent au
                groupe, en vert ceux qui doivent récupérer de l’argent du groupe.</p>
        </div>
    </div>
{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path("event_list") }}">Evènements</a>
    </li>
{% endblock %}
