{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Dichipot</h1>
            <p class="lead">Une solution simple pour partager les dépenses.</p>
            <hr class="my-4">
            <p>Cette application web fonctionne aussi bien sur un mobile que sur une tablette ou un ordinateur
                de bureau.</p>
            <a class="btn btn-primary btn-lg" href="https://phraz.github.io/dichipot/" role="button">Plus
                d'information</a>
        </div>
    </div>
{% endblock %}
