{% extends 'base.html.twig' %}

{% block body %}
    <div class="list-group">
        {% for user in users if users|length > 0 %}
            <a class="list-group-item list-group-item-action"
               href="{{ path('event_list') }}">{{ user.name }}</a>
        {% else %}
            <p>aucun utilisateur</p>
        {% endfor %}
    </div>
{% endblock body %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path("user_create") }}">Créer un nouvel utilisateur</a>
    </li>
{% endblock %}
