{% extends 'base.html.twig' %}

{% block body %}
    <h2>Utilisateurs</h2>
    <ul>
        {% for user in users if users|length > 0 %}
            <li><a href="{{ path('event_list', {'userId': user.id}) }}">{{ user.name }}</a></li>
        {% else %}
            <p>aucun utilisateur</p>
        {% endfor %}
    </ul>
{% endblock body %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path("user_create") }}">Créer un nouvel utilisateur</a>
    </li>
{% endblock %}
